body {
    margin: 0;
    padding: 0;
}
#background{
    background-image: url("imgs/background.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
}
#PromodoroTimer{
    width : 300px;
    padding: 20px;
    height: 540px;
    margin: auto;
    border-radius: 5%;
    position: relative;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    transform: translateY(50%);
    text-align: center;
    box-shadow: 0 8px 20px 0 rgba(13, 24, 17, 0.37);
}

#PromodoroTimer h1{
    color: rgb(202, 202, 202);
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-style: italic;
    text-shadow: 8px 20px 30px rgb(0, 0, 0);
}
#PromodoroTimer h2{
    color: rgb(225, 226, 225);
    font-family: 'Tahoma', Geneva, Verdana, sans-serif;
    font-size: 35px;
    text-shadow: 8px 20px 30px rgb(0, 0, 0);
}
#timerDisplay{
    background-color: gray;
    border-radius: 10%/20%;
    color: rgb(224, 247, 223);
    font-size: 80px;
    font-family: 'Segoe UI';
    margin: 20px;
    transform: translateY(20%);
}
.timerbutton{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    padding: 10px 20px;
    margin: 10px 25px;
    font-size: 20px;
    transform: translateY(70%) scale(1.2);
    border-radius: 10%/20%;
    color: rgb(0, 12, 5);
    background-color: rgb(186, 189, 187);
    
}
.timerbutton:hover{
    background-color: rgb(30, 41, 33);
    cursor: pointer;
    color: rgb(203, 207, 203);
}

#mode {
    margin-bottom: 10px;
}


.modebutton {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    padding: 8px 15px; 
    margin: 5px;
    font-size: 16px; 
    border-radius: 10%/20%;
    color: rgb(0, 12, 5);
    background-color: rgb(186, 189, 187);
    cursor: pointer;
}


.modebutton.active {
    background-color: #011224;
    color: white;
}


.modebutton:hover {
    background-color: rgb(30, 41, 33);
    color: rgb(203, 207, 203);
}

